#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 132px;

  .cards {
    font-size: 2.5em;

    * {
      margin-left: 5px;
      color: $tertiary;
    }
  }
}

@media screen and (max-width: 768px) {
  #footer {
    margin: 25px 10px;
    
    .cards {
      font-size: 1em;
    }
  }
}