#navigation {
  display: flex;
  justify-content: space-between;

  .shop-name {
    font-size: 1.5em;
    margin-left: 50px;
  }

  .menu-button {
    padding: 25px;
    background-color: $primary;

    Button {
      color: $background-secondary;
    }
  }

  .left {
    display: flex;
    align-items: center;
  }

  .right {
    display: flex;
    align-items: center;
    margin-right: 132px;

    * {
      flex: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  #navigation {
    .menu-button {
      padding: 25px;
    }

    .right {
      margin-right: 10px;
    }
  }
}