#product-page {
  font-size: 1.5em;

  .left, .middle {
    text-align: center;
  }

  .left {
    img {
      max-height: 65vh;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .quantity {
      margin-bottom: 10px;
    }
  }
}

#not-exist {
  display: block;
  margin: 30vh 0;

  * {
    text-align: center;
  }
}