@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Varela+Round&display=swap');

@import './variables.scss';
@import './App.scss';
@import './components/BoxButton.scss';
@import './components/Footer.scss';
@import './components/Navigation.scss';
@import './components/buyer/CartPopover.scss';
@import './pages/LandingPage.scss';
@import './pages/Profile.scss';
@import './pages/Register.scss';
@import './pages/buyer/ProductPage.scss';
@import './pages/buyer/ProductCatalog.scss';
@import './pages/buyer/Cart.scss';
@import './pages/buyer/Checkout.scss';
@import '~antd/dist/antd.css';
@import '~react-rater/lib/react-rater.css';

body {
  margin: 0;
  font-family: 'Varela Round', 'Poppins', 'Open Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $background-color;
  color: $primary;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
