#cart-popover {
  .cart-item {
    .item-price {
      display: flex;
      justify-content: flex-end;
    }
  }

  .link-to-checkout {
    display: flex;
    justify-content: flex-end;
  }

  .empty {
    display: block;
    text-align: center;
    margin: 5px 0 15px 0;
  }
}